<% content_for :title do %>
  <%= t 'post_title' %>
<% end %>

<!--Center Part-->
<div id="main">
  <!--Content Area-->
  <div id="content-body">
    <!--Head Line-->
    <div id="static-content">
      <h2><%= t 'pre_portfolio' %></h2>
      <%= render 'anim_circles'%> 
    </div>
    <h2 class="title"><a name="Portfolio"><%= (t 'menu.items')[0] %></a></h2>
    <div class="underline-title"> <%= image_tag '/assets/grey_line.jpg' %> </div>
    <div id="PortfolioWrapper" style="clear:both">
      <%= render 'home_images'%>
		  <% link_to 'New Project image', new_project_image_path %>
		</div>

    <h2 class="title" ><a name="Clients"><%= (t 'menu.items')[1] %></a></h2>
    <div class="underline-title"> <%= image_tag '/assets/grey_line.jpg' %> </div>
    <%= render 'clients_part'%>

    <h2 class="title"><a name="About"><%= (t 'menu.items')[2] %></a></h2>
    <div class="underline-title"> <%= image_tag '/assets/grey_line.jpg' %> </div>
    <%= render 'about_part'%>
    
    <h2 class="title"><a name="Services"><%= (t 'menu.items')[3] %></a></h2>
    <div class="underline-title"> <%= image_tag '/assets/grey_line.jpg' %> </div>
    <div id="ServicesWrapper" class="ContentBorder">
      <div class="left">
       <!-- Longer page -->
       <% for i in 1..12 do %>
          <ul>Lorem Ipsum</ul>
        <% end %>
      </div>
      <div class="right">
       <!-- Longer page -->
       <% for i in 1..12 do %>
          <ul>Lorem Ipsum</ul>
        <% end %>
      </div>
    </div>
    
    <div id="ContactsWrapper">
    <h2 id="ContactsTitle"><a name="Contacts"><%= (t 'menu.items')[4] %></a></h2>
    <div class="underline-title"> <%= image_tag '/assets/grey_line.jpg' %> </div>
    <!-- Here will be contacts :) -->
    <div id="sendMessage"><%= t 'send_us_message' %></div>
       <%= render :partial => '/contact/new', :locals => { :message => Message.new } %>
    </div>
  </div>
</div>

