<% content_for :title do %>
  Домашняя
<% end %>

<% language = t 'menu.items'  %>
<!--Center Part-->
<div id="main">
  <!--Content Area-->
  <div id="content-body">
    <!--Head Line-->
    <div id="static-content">
      <h2>Ивенты &amp; Жизнь</h2>
      <%= render 'anim_circles'%> 
  </div>
    <h2 class="title"><a name="<%= language[0] %>"><%= "#{language[0]}" %></a></h2>
    <div class="underline-title"> ---------------------------------------- </div>
    <div id="PortfolioWrapper" style="clear:both">
      <%= render 'home_images'%>
		  <% link_to 'New Project image', new_project_image_path %>
       <!-- Longer page -->
       <% for i in 1..12 do %>
          <ul>Lorem Ipsum</ul>
        <% end %>
		</div>
    <h2 class="title" ><a name="<%= language[1] %>"><%= "#{language[1]}" %></a></h2>
    <div class="underline-title"> ---------------------------------------- </div>
    <div id="ClientsWrapper">
       <!-- Longer page -->
       <% for i in 1..12 do %>
          <ul>Lorem Ipsum</ul>
        <% end %>
    </div>
    <h2 class="title"><a name="<%= language[2] %>"><%= "#{language[2]}" %></a></h2>
    <div class="underline-title"> ---------------------------------------- </div>
    <div id="AboutWrapper">
       <!-- Longer page -->
       <% for i in 1..12 do %>
          <ul>Lorem Ipsum</ul>
        <% end %>
    </div>
    <h2 class="title"><a name="<%= language[3] %>"><%= "#{language[3]}" %></a></h2>
    <div class="underline-title"> ---------------------------------------- </div>
    <div id="ServicesWrapper">
       <!-- Longer page -->
       <% for i in 1..12 do %>
          <ul>Lorem Ipsum</ul>
        <% end %>
    </div>
    <div id="ContactsWrapper">
    <h2 id="ContactsTitle"><a name="<%= language[4] %>"><%= "#{language[4]}" %></a></h2>
    <div id="underline-title-contacts"> ---------------------------------------- </div>
    <!-- Here will be contacts :) -->
    <div id="sendMessage"><%= t 'send_us_message' %></div>
       <%= render :partial => '/contact/new', :locals => {:message => Message.new } %>
    </div>
  </div>
</div>

