<% content_for :title do %>
  Домашняя
<% end %>

<% translated_title = t 'menu.items'  %>
<!--Center Part-->
<div id="main">
  <!--Content Area-->
  <div id="content-body">
    <!--Head Line-->
    <div id="static-content">
      <h2><%= t 'pre_portfolio' %></h2>
      <%= render 'anim_circles'%> 
    </div>
    <h2 class="title"><a name="<%= translated_title[0] %>"><%= "#{translated_title[0]}" %></a></h2>
    <div class="underline-title"> ---------------------------------------- </div>
    <div id="PortfolioWrapper" style="clear:both">
      <%= render 'home_images'%>
		  <% link_to 'New Project image', new_project_image_path %>
		</div>

    <!-- <h2 class="title" ><a name="<%= translated_title[1] %>"><%= "#{translated_title[1]}" %></a></h2>
    <div class="underline-title"> ---------------------------------------- </div>
    <div id="ClientsWrapper">
       <!-- Longer page
       <% for i in 1..12 do %>
          <ul>Lorem Ipsum</ul>
        <% end %>
    </div> --> 

    <h2 class="title"><a name="<%= translated_title[1] %>"><%= "#{translated_title[1]}" %></a></h2>
    <div class="underline-title"> ---------------------------------------- </div>
    <div id="AboutWrapper">
       <!-- Longer page -->
       <% for i in 1..12 do %>
          <ul>Lorem Ipsum</ul>
        <% end %>
    </div>
    <h2 class="title"><a name="<%= translated_title[2] %>"><%= "#{translated_title[2]}" %></a></h2>
    <div class="underline-title"> ---------------------------------------- </div>
    <div id="ServicesWrapper">
       <!-- Longer page -->
       <% for i in 1..12 do %>
          <ul>Lorem Ipsum</ul>
        <% end %>
    </div>
    <div id="ContactsWrapper">
    <h2 id="ContactsTitle"><a name="<%= translated_title[3] %>"><%= "#{translated_title[3]}" %></a></h2>
    <div id="underline-title-contacts"> ---------------------------------------- </div>
    <!-- Here will be contacts :) -->
    <div id="sendMessage"><%= t 'send_us_message' %></div>
       <%= render :partial => '/contact/new', :locals => {:message => Message.new } %>
    </div>
  </div>
</div>

