<% content_for :title do %>
	<%= @project.name %>
<% end %>

<div id="leftContent"> 
  <div id="clientLogo"> 
  	<%= image_tag @project.logo.url %>
  </div>
  <div id="clientDescription"> 
  	<%= @project.description %>
  </div>
</div>
<div id="rightContent"> 
  <div id="clientPicture"> 
  	<%= image_tag @project.photo.url %>
  </div>
</div>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
