<%= notice %>
<%= form_for message, :url => contact_path do |form| %>
  <% translated_name = t 'message.names'  %>
    <div id="message">
      <div class="leftside">
        <ul>
          <li>
            <%= form.label :name, "#{translated_name[0]}" %>
            <%= form.text_field :name %>
          </li>
          <li>
            <%= form.label :email, "#{translated_name[1]}"  %>
            <%= form.text_field :email %>
          </li>
          <li>
            <%= form.label :subject , "#{translated_name[2]}" %>
            <%= form.text_field :subject %>
          </li>
        </ul>
      </div>
    
    <div class="rightside">
      <ul>
        <li>
          <%= form.label :body, "#{translated_name[3]}" %>
          <%= form.text_area :body %>
        </li>
        <li>
          <%= form.submit "#{translated_name[4]}"  %>
        </li>
      </ul>
    </div>  
</div>
<% end %>