<h1>Listing project_images</h1>




<% @project_images.each do |project_image| %>
  <%= render :partial => 'index', :locals => { :project_image => project_image} %>
  <!-- <div><%= link_to 'Show', project_image %></div>
  <div><%= link_to 'Edit', edit_project_image_path(project_image) %></div>
  <div><%= link_to 'Destroy', project_image, method: :delete, data: { confirm: 'Are you sure?' } %></div>   -->
<% end %>

<br />

<%= link_to 'New Project image', new_project_image_path %>
