<div id="main-menu">
	<ul>
		<li> <%= link_to (t 'menu.items')[0], root_path(anchor: "Portfolio") %></li> 
		<li> <%= link_to (t 'menu.items')[1], root_path(anchor: "Clients") %></li> 
		<li> <%= link_to (t 'menu.items')[2], root_path(anchor: "About") %></li> 
		<li> <%= link_to (t 'menu.items')[3], root_path(anchor: "Services") %></li> 
		<li class="last"> <%= link_to (t 'menu.items')[4], root_path(anchor: "Contacts") %></li> 
	</ul>
</div>