<div id="main-menu">
	<ul>
		<li><%= link_to 'Портфолио', root_path(:anchor => "Портфолио") %></li>
		<li><%= link_to 'Клиенты', root_path(:anchor => "Клиенты") %></li>
		<li><%= link_to 'О нас', root_path(:anchor => "О%20нас") %></li>
		<li><%= link_to 'Услуги', root_path(:anchor => "Услуги") %></li>
		<li><%= link_to 'Контакты', root_path(:anchor => "Контакты") %></li>
	</ul>
</div>