<div id="main-menu">
	<ul>
		<li><%= link_to 'Портфолио', root_path(anchor: "Portfolio") %></li>
    <li><%= link_to 'Клиенты', root_path(anchor: "Clients") %></li>
		<li><%= link_to 'О нас', root_path(anchor: "About") %></li>
		<li><%= link_to 'Услуги', root_path(anchor:  "Services") %></li>
		<li><%= link_to 'Контакты', root_path(anchor: "Contacts") %></li>
	</ul>
</div>