<!DOCTYPE html>
<html>
<head>
  <title><%= t 'pre_title'%> | <%= yield :title %></title>
  <meta name="description" content="Home" />
  <meta name="keywords" content="" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--Page Wrapper-->
  <div id="pageWrapper">
    <!--Header Wrapper-->
    <div id="headerWrapper">
      <div id="locales">
        <div class="flag"> <%= link_to_unless_current (image_tag '/assets/uk_flag.jpg'), locale: "en" %> </div>
        <div class="flag"> <%= link_to_unless_current (image_tag '/assets/ru_flag.jpg'), locale: "ru" %> </div>
        <div class="flag"> <%= link_to_unless_current (image_tag '/assets/ua_flag.jpg'), locale: "uk" %> </div>
      </div>
      <!--Logo Section-->
      <div id="logo"> 
        <p class="logoText1">NATIONAL</p> <%= link_to (image_tag '/assets/logo.jpg'), root_path %>  <p class="logoText">SERVICE</p>
      </div>
      <!--Main Menu-->
        <%=  render '/layouts/menu' %>
    </div>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>      
  </div>
</body>
</html>
