<!DOCTYPE html>
<html>
<head>
  <title>СНС Ивент | <%= yield :title %></title>
  <meta name="description" content="Home" />
	<meta name="keywords" content="" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!--Page Wrapper-->
	<div id="pageWrapper">
		<!--Header Wrapper-->
		<div id="headerWrapper">
			<!--Logo Section-->
			<div id="logo"> 
				SNS EVENT
			</div>
			<!--Main Menu-->
      <div id="main-menu">
        <%= yield :mainMenu %>
      </div>
    </div>
			<!--Center Part-->
    	<div id="main">
	      <!--Content Area-->
	      <div id="content-body">
	        <!--Head Line-->
	        <div id="static-content">
	          <h2>Ивенты &amp; Жизнь</h2>
        </div>
        	<%= yield %>
				</div>
			</div>
	</div>
</body>
</html>
